body.home-details {
  background-color: $color-secondary;
  color: $color-primary;

  .tabs-underlined .tab-underlined {
    color: $color-primary;
  }

  .tabs-underlined .tab-underlined.active {
  border-bottom: 1px solid $color-primary;
  }

  .tabs-underlined a:hover {
  border-bottom: 1px solid $color-primary;
  }
}

.details-img {
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Abstand zu den anderen Abschnitten */
  width: 40vw;
}

@media (max-width: 768px) {

  body.home-details {
  }

  .details-img {
    width: 80vw;
  }
}
