body.home-index {
  background: image-url('background.jpg') no-repeat center 40vh;
  background-size: contain;
  background-attachment: scroll;
  align-items: flex-start;
  min-height: 200vh;
}

@media (max-width: 768px) {
  body.home-index {
    background-size: contain; /* Bild in voller Breite anzeigen und proportional skalieren */
    background-position: center bottom; /* Positionierung des Bildes unten */
    min-height: 100vh; /* Anpassen für Tablets und kleinere Bildschirme */
  }
}

@media (max-width: 480px) {
  body.home-index {
    background-size: contain; /* Bild in voller Breite anzeigen und proportional skalieren */
    background-position: center bottom; /* Positionierung des Bildes unten */
    min-height: 100vh; /* Anpassen für Smartphones */
  }
}

.content-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 10vh;

  .coming-soon {
    font-family: 'Garamond', serif;
    font-size: 2rem;
    font-weight: bold;
    color: $color-secondary;
    margin-bottom: 7rem;

    @media (max-width: 768px) {
      font-size: 2rem;
    }

    @media (max-width: 480px) {
      font-size: 1.5rem;
    }
  }

  .event-details {
    .names {
      font-family: 'Garamond', serif;
      font-size: 1.8rem;
      font-weight: extra-light;
      color: $color-primary;
      letter-spacing: 0.8rem;
      margin-bottom: 4rem;

      span {
        font-size: 2.5rem;
      }

      @media (max-width: 768px) {
        font-size: 1.5rem;

        span {
          font-size: 2.2rem;
          letter-spacing: 0.7rem;
        }
      }

      @media (max-width: 480px) {
        font-size: 1rem;

        span {
          font-size: 1.5rem;
          letter-spacing: 0.7rem;
        }
      }
    }

    .date {
      font-family: 'Futura', sans-serif;
      font-weight: light;
      font-size: 1rem;
      color: $color-primary;
      margin-top: 0.5rem;
      letter-spacing: 0.4rem;

      @media (max-width: 768px) {
        font-size: 0.5rem;
      }

      @media (max-width: 480px) {
        font-size: 0.5rem;
      }
    }

    .location {
      font-family: 'Futura', sans-serif;
      font-weight: light;
      font-size: 1rem;
      color: $color-primary;
      margin-top: 1rem;
      letter-spacing: 0.4rem;

      @media (max-width: 768px) {
        font-size: 0.5rem;
      }

      @media (max-width: 480px) {
        font-size: 0.5rem;
      }
    }
  }
}
