/* Allgemeine Stile */
body {
  margin: 0;
  padding: 0;
  font-family: 'Garamond', serif;
  color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 200vh;
  text-align: center;
  padding-top: 20vh;
}

body.intro-index {
  background-color: $color-primary;

}

/* Stile für die Intro-Seite */
.intro {
  background-color: $color-primary;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: $color-secondary;

  div {
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .intro div {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .intro div {
    font-size: 0.8rem;
  }
}
