body.home-locations {
  background-color: $color-tertiary;
  color: $color-secondary;

  .content {
    line-height: 1rem;

    a {
      color: $color-secondary;
    }

    section {
      margin-bottom: 4rem;
    }
  }

  .tabs-underlined .tab-underlined {
    color: $color-secondary;
  }

  .parken {
    line-height: 2rem;
  }
}

.location-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Abstand zu den anderen Abschnitten */
  padding-bottom: 3rem;
  width: 40vw;
}

@media (max-width: 768px) {

  .location-img {
    width: 80vw;
  }

}
