body.home-rsvp {
  background-color: $color-quaternary;

  .tabs-underlined .tab-underlined {
    color: $color-primary;
  }

  .tabs-underlined .tab-underlined.active {
  border-bottom: 1px solid $color-primary;
  }

  .tabs-underlined a:hover {
  border-bottom: 1px solid $color-primary;
  }
}

.contact {
  font-style: italic;
  font-family: 'Garamond', serif;
}

@media (max-width: 768px) {
}

