body.home-rsvp {
  background-color: $color-quaternary;

  .content ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-size: 1rem;
      margin: 5px 0;
    }
  }

  .tabs-underlined .tab-underlined {
    color: $color-primary;
  }

  .tabs-underlined a:hover {
  color: #b1804d;
  border-bottom: 1px solid $color-primary;
}
}

.contact {
  font-style: italic;
  font-family: 'Garamond', serif;
}


