body.home-start {
  background-color: $color-primary;
  color: $color-secondary;


  .tabs-underlined .tab-underlined {
    color: $color-secondary;
  }

  h1 {
    text-decoration: none;
  }

  .duj {
    width: 10rem;
    padding: 2vh;
  }
}

