<div class="home-details">
  <div class="">
    <%= image_tag "Weintraube.png", class: "avatar", alt: "weintraube" %>
    <%= image_tag "details.png", class: "details-img", alt: "details" %>
  </div>
</div>
