<!-- app/views/home/index.html.erb -->
<div class="background-container"></div>
<div class="content">
  <div class="coming-soon">coming soon...</div>
  <div class="event-details">
    <div class="names"><span>D</span>ANIELA & <span>J</span>ACOB</div>
    <div class="date">12. Oktober 2024</div>
    <div class="location">Südtirol</div>
  </div>
</div>
