<div class="home-locations">
  <div class="content">
      <%= image_tag "locations.png", class: "location-img", alt: "locations map" %>

    <section>
      <h2>Ansitz Zinnenberg</h2>
      <p>St. Justina Straße 65, 39050 Eppan / Südtirol</p>
      <a href="https://maps.app.goo.gl/FSDNUXBeWtv8QP737">maps</a>
    </section>

    <section>
      <h2>Schloss Freudenstein</h2>
      <p>Matschatscher Weg 6, 39050 Eppan / Südtirol</p>
      <a href="https://maps.app.goo.gl/8WkbUMLqodmgh9TC9">maps</a>
    </section>

    <section>
      <h2>Pfarrkirche Maria Himmelfahrt</h2>
      <p>Marktplatz 1, 39052 Kaltern / Südtirol</p>
      <a href="https://maps.app.goo.gl/mFKBXXaSiQXz3qRf6">maps</a>
    </section>

    <section>
      <h2>Ansitz Windegg</h2>
      <p>Windegg 3, 39052 Kaltern / Südtirol</p>
      <a href="https://maps.app.goo.gl/PG4CrQQKwpFGEprV6">maps</a>
    </section>

    <section class="parken">
      <h1>Parken</h1>
      <p>Vor dem Ansitz Zinnenberg gibt es ausreichend Parkplätze vor der Location.
      <p>Das Schloss Freudenstein (Hochzeitsfest) verfügt über einen großzügigen Parkplatz.</p>
      <p>Für die kirchliche Trauung und den Empfang in Kaltern empfehlen wir Euch, auf dem Parkplatz Trutsch (<a href="https://maps.app.goo.gl/xvJro1LZ1MRW5bRV7">maps</a>) zu parken:</p>
    </section>
    <%= image_tag "locations.png", class: "location-img", alt: "locations map" %>
  </div>
</div>
