<div class="home-rsvp">
  <%= image_tag "Weintraube_braun.png", class: "avatar", alt: "weintraube" %>
  <div class="content">
    <section>
      <h1>RSVP</h1>
      <p>Um Antwort wird gebeten bis zum 24. August 2024 an:</p>
      <p><a href="mailto:danielaundjacob@gmail.com">danielaundjacob@gmail.com</a></p>
      <p>Bitte teilt uns folgende Informationen mit:
        <br>* Zu- oder Absage
        <br>* Unterkunft
        <br>* Kurze Info, wenn Anreise mit Flug aus HH/BER (s. Info Shuttle)
        <br>* Kurzer Hinweis falls vegetarisch
        <br>* Anzahl Kinder bei Kirche & Empfang
        <br>* Bedarf für Babybetreuung am Abend
      </p>
    </section>
  </div>
</div>
