<!-- app/views/home/intro.html.erb -->
<div class="home-start">
  <div class="content">
    <section>
      <h1>Ihr Lieben</h1>
      <p>Wir freuen uns so sehr über Euer Kommen und mit Euch unsere Hochzeit zu feiern!
        Bitte meldet Euch jederzeit bei uns, wenn Ihr Fragen habt.
        Pfiat di und bis bald!
        Dani & Jacob
      </p>
    </section>
  </div>
</div>
