<!-- app/views/home/intro.html.erb -->

<div class="intro">
  <div>I h r L i e b e n </div>
  <div>Wir freuen uns so sehr über Euer Kommen und mit Euch unsere Hochzeit zu feiern!
    <br>Bitte meldet Euch jederzeit bei uns, wenn Ihr Fragen habt.
    <br>Pfiat di und bis bald!
    <br>Dani & Jacob
  </div>
</div>
