<div class="home-start">
  <%= image_tag "Weintraube.png", class: "avatar", alt: "weintraube" %>
  <div class="content">
    <section>

      <h1>Ihr Lieben,</h1>
        <p>Wir freuen uns so sehr über Euer Kommen und mit Euch unsere Hochzeit zu feiern!</p>
        <p>Bitte meldet Euch jederzeit bei uns, wenn Ihr Fragen habt.</p>
        <p>Pfiat di und bis bald!</p>
        <p>Dani & Jacob</p>
    </section>
  </div>
    <%= image_tag "duj_foto.png", class: "duj", alt: "weintraube" %>

</div>
