@font-face {
  font-family: 'Garamond';
  src: url(asset-path('Garamond-Regular.ttf')) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url(asset-path('Futura-Book.ttf')) format('truetype');
  font-weight: 300;
  font-style: normal;
}
