/* app/assets/stylesheets/home.scss */

/* Importiere die Schriftarten */
/*@import url('https://fonts.googleapis.com/css2?family=Garamond:wght@400;700&family=Nunito:wght@300;400&display=swap');*/
@import 'fonts';


/* Farbvariablen */
$color-primary: #7b4d35;
$color-secondary: #c7b03e;

/* Allgemeine Stile */
body {
  margin: 0;
  padding: 0;
  font-family: 'Garamond', serif;
  color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  height: 100vh;
  overflow: hidden;
/*  padding-top: 15vh;*/

/* Hintergundbild */
  /*background: image-url('background.png') no-repeat center bottom;
  background-size: cover;
  background-position: center bottom;*/
}


.background-container {
  background: image-url('background.jpg') center;
  background-size: cover;
  position: absolute;
  top: 30vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

/* Stil für den gesamten Inhalt */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  .coming-soon {
    font-family: 'Garamond', serif;
    font-weight: bold;
    font-size: 2rem;
    font-weight: bold;
    color: $color-secondary;
    margin-bottom: 7rem;
    letter-spacing: 0.4rem;

    @media (max-width: 768px) {
      font-size: 2rem;
    }

    @media (max-width: 480px) {
      font-size: 1.5rem;
    }
  }

  .event-details {
    .names {
      font-family: 'Garamond', serif;
      font-size: 1.8rem;
      font-weight: light;
      color: $color-primary;
      letter-spacing: 0.8rem;
      margin-bottom: 3rem;

      span {
        font-size: 2.5rem;
      }

      @media (max-width: 768px) {
        font-size: 1.5rem;


        span {
          font-size: 2.2rem;
          letter-spacing: 0.7rem;
        }
      }

      @media (max-width: 480px) {
        font-size: 1rem;


        span {
          font-size: 1.5rem;
          letter-spacing: 0.7rem;
        }
      }
    }

    .date {
      font-family: 'Futura', sans-serif;
      font-weight: light;
      font-size: 1rem;
      color: $color-primary;
      margin-top: 0.5rem;
      letter-spacing: 0.4rem;

      @media (max-width: 768px) {
        font-size: 0.8rem;
      }

      @media (max-width: 480px) {
        font-size: 0.8rem;
      }
    }

    .location {
      font-family: 'Futura', sans-serif;
      font-weight: light;
      font-size: 1rem;
      color: $color-primary;
      margin-top: 1rem;
      letter-spacing: 0.4rem;

      @media (max-width: 768px) {
        font-size: 0.8rem;
      }

      @media (max-width: 480px) {
        font-size: 0.8rem;
      }
    }
  }
}
